# ===============================
# STM32CubeIDE build output
# ===============================
Debug/
Release/

# ===============================
# STM32CubeIDE project files
# ===============================
.settings/
.project
.cproject

# ===============================
# GCC / Make artifacts
# ===============================
*.o
*.d
*.su
*.lst
*.map

# ===============================
# Binary output
# ===============================
*.elf
*.bin
*.hex

# ===============================
# Editors / OS
# ===============================
.vscode/
.DS_Store
Thumbs.db
